body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul.dropdown-menu div li a {
  margin-left: 10px;
}

li.dropdown ul.dropdown-menu li.dropdown ul.dropdown-menu {
  top: -6px;
  left: 160px;
}

button {
  color: #df691a;
}

button[type="submit"] {
  margin-right: 10px;
}

div.formEmail label {
  width: 75px;
}

div.formPassword {
  margin-top: 7px;
}

div.formPassword label {
  width: 75px;
}

select, option {
  color: black;
}

label {
  margin-right: 10px;
}

.ERROR {
  margin: 10px;
  padding: 10px;
  background-color: red;
}