body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul.dropdown-menu div li a {
  margin-left: 10px;
}

li.dropdown ul.dropdown-menu li.dropdown ul.dropdown-menu {
  top: -6px;
  left: 160px;
}

button {
  color: #df691a;
}

button[type="submit"] {
  margin-right: 10px;
}

div.formEmail label {
  width: 75px;
}

div.formPassword {
  margin-top: 7px;
}

div.formPassword label {
  width: 75px;
}

select, option {
  color: black;
}

label {
  margin-right: 10px;
}

.formInputSpan {
  margin-left: 10px;
}

.ERROR {
  margin: 10px;
  padding: 10px;
  background-color: red;
}

.ERROR a {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}

.userTeamLink {
  display: inline-block;
}

.likeButton {
  border-radius: 5px;
  margin: 3px;
  margin-bottom: 10.5px;
}

.navbar-right {
  margin-right: 15px;
}